streamlit
PyPDF2
langchain
langchain-community
langchain-openai
spacy==3.5.0
dotenv
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
spacy-streamlit
